

/***************************************
GENERAL
****************************************/

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Roboto', sans-serif;*/


/***************************************
HEADER IMAGE
****************************************/
header {
	width: 100vw;
	height: 100vh;
	/*background-color: red;*/

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	/***** PARALAX EFFECT *****/
	background-image: url('assets/shop.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
	font-family: 'Shrikhand', cursive;
	line-height: 1.3;
	font-size: 800%;
	text-align: center;
	padding: 0 10%;
	background-color: black;
    color: #fff; 
    margin-bottom: 0;
}
header p {
	font-family: 'Shrikhand', cursive;
	font-size: 200%;
	background-color: black;
    color: #fff; 
    line-height: 1.3;
    padding: 0 10% 10px;
    margin-top: 0;
}

/***************************************
NAV BAR
****************************************/
ul {
	display: flex;
	padding: 0;
	margin-top: 0;
}

li {
	list-style: none;
	flex: 1;
	text-align: center;
	border: solid black 1.5px;
	padding: 15px;

}

nav ul li:hover {
	background-color: red;
}

.wrapper {
	margin: 0 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}


/***************************************
PRODUCTS / SAUSAGES
****************************************/
.products {
	display: flex;
	flex-wrap: wrap;
	

	flex-direction: column;
	
}

.sausage {
	display: flex;

}


/****** ROUNDING PRODUCT IMAGES ******/
.imgcrp {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 100%;
	margin: 20px;
	box-shadow: 0px 2px 20px;
	border: solid .5px white;
}

.imgcrp img {
	display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.txt {
	margin-top: 20px;
	width: 50%;
}

/***************************************
CONTACT SECTION
****************************************/
.location {
	display: flex;
}

.map {
	display: flex;
	flex: 3;
	border: solid red 3px;
	margin: 20px;
}

.shops {
	flex: 2;
	margin: 15px 25px;
}


/***************************************
FOOTER
****************************************/
footer {
	display: flex;
	justify-content: space-around;
	border-top: solid black 3px;

}

.contact {
	display: flex;
}

.contact p {
	margin: 16px 10px;
}




/*********************************
Media queries
**********************************/
@media screen and (min-width: 600px) {
 
 footer {
 	background-color: green;
 }

}

/*@media screen and (min-width: 900px) {

}*/

/*@media screen and (min-width: 1200px) {

}*/

/*@media screen and (min-width: 1800px) {

}*/















